.footer {
    min-height: 40px;
    background: $text-color;
    text-align: center;
    color: white;

    &__info {
        padding: 10px 0;

        a {
            font-weight: bold;
            text-decoration: none;
            color: $bg-color;
        }
    }


}