.slider {

    &__bg {
        min-height: 800px;
        background: $bg-color;

        img {
            top: 0;
            float: right;
        }

    }

    &__area {
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
    }

    &__item {
        min-height: 525px;
        background-repeat: no-repeat;
        background-position: right;
    }

    &__content {
        // background-image: url('../img/bg-fon.png');
        // background-repeat: no-repeat;
        // background-position: right;
        // min-height: 800px;
    }
}